.auth-layout .img-wrapper img {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    user-select: none;
}

.auth-layout .img-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.auth-layout .img-wrapper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 19, 225, 0.3);
}

.auth-layout .content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #f8e6ff 20%, white 80%);
}

.auth-layout .content-wrapper .box {
    width: 100%;
    max-width: 764px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 12%;
    padding-bottom: 12%;
    padding-left: 50px;
    padding-right: 50px;
}